number of kw:  1305
the number of pairs 2547